[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "~=2.20.0"
python-binance = "*"
twisted = {file = "http://fstab.net//pypi//simple//twisted//Twisted-18.4.0-cp36-cp36m-win_amd64.whl"}

[dev-packages]
pylint = "*"
rope = "*"
matplotlib = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
